<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Model deployment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link ref="stylesheet" href="../style.css" >
</head>
<body>
    <h1>SAMAM - Mental Health Assessment</h1>
    <p>Enter your details :</p>

    <form class="container" action="/" method="POST">
        <label for="username">Name:</label>
        <input type="text" name="username" placeholder="Enter name" >

        <label for="hum">Humidity:</label>
        <input type="number" name="hum" placeholder="Enter humidity" >

        <label for="temp">Temperature:</label>
        <input type="number" name="temp" placeholder="Enter temperature" >

        <label for="steps">Steps Count:</label>
        <input type="number" name="steps" placeholder="Enter steps count" >

        <input type="submit" value="Submit">
    </form>
    
    {% if stress_level is not none %}
    <p>{{ stress_level }}</p>
    {% endif %}
</body>
</html>
